{% if site.enable_tooltips %}
<!-- Enable Tooltips -->
<script type="text/javascript">
$(function () {$('[data-toggle="tooltip"]').tooltip()})
</script>
{% endif %}


<!-- Load Common JS -->
<script src="{{ '/assets/js/common.js' | relative_url }}"></script>

<!-- Load DarkMode JS -->
<script src="{{ '/assets/js/dark_mode.js' | relative_url }}"></script>

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "a01f467a8f6c46068d2f6d9e9667529e"}'></script>
<!-- End Cloudflare Web Analytics -->
